body 
{
  background-color: #a04eec;
  text-align: center;
}
h1 {
color: deeppink;
border-style: solid;
border-color:white;  
border-width:2px;
padding: 10px;
}
#nome
{
text-decoration: underline;
font-size:40px;
color: rgb(160, 98, 211);
background: white;
}
a
{
color: blue;
font-size: 20px;
border-style: dashed;
border-color: rgb(5, 5, 5);
border-width: 2px;
padding: 10px;
border-radius: 20px;
}

p{
color: rgb(3, 3, 3);
word-spacing: 10px;
font-variant: small-caps;
font-size: 20px;
font-family: Arial;
}

.informacoes{
  color: darkblue;
  font-size: 18px;
}